### Import

In [4]:
import pandas as pd
import world_bank_data as wb
pd.set_option('display.max_rows', 6)

In [10]:
countries = wb.get_countries()
indicators = wb.get_indicators()

countries.head(10)

,iso2Code,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
id,,,,,,,,,
ABW,AW,Aruba,Latin America & Caribbean,,High income,Not classified,Oranjestad,-70.0167,12.5167
AFE,ZH,Africa Eastern and Southern,Aggregates,,Aggregates,Aggregates,,NaN,NaN
AFG,AF,Afghanistan,"Middle East, North Africa, Afghanistan & Pakistan","Middle East, North Africa, Afghanistan & Pakis...",Low income,IDA,Kabul,69.1761,34.5228
...,...,...,...,...,...,...,...,...,...
AND,AD,Andorra,Europe & Central Asia,,High income,Not classified,Andorra la Vella,1.5218,42.5075
ARB,1A,Arab World,Aggregates,,Aggregates,Aggregates,,NaN,NaN
ARE,AE,United Arab Emirates,"Middle East, North Africa, Afghanistan & Pakistan",,High income,Not classified,Abu Dhabi,54.3705,24.4764

In [12]:
countries['incomeLevel'].value_counts()

incomeLevel
High income            86
Aggregates             79
Upper middle income    54
Lower middle income    50
Low income             25
Not classified          2
Name: count, dtype: int64

In [13]:
developing = countries[countries['incomeLevel'].isin(['Low income', 'Lower middle income', 'Upper middle income'])]
developing.head(5)

,iso2Code,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
id,,,,,,,,,
AFG,AF,Afghanistan,"Middle East, North Africa, Afghanistan & Pakistan","Middle East, North Africa, Afghanistan & Pakis...",Low income,IDA,Kabul,69.1761,34.52280
AGO,AO,Angola,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,IBRD,Luanda,13.2420,-8.81155
ALB,AL,Albania,Europe & Central Asia,Europe & Central Asia (excluding high income),Upper middle income,IBRD,Tirane,19.8172,41.33170
ARG,AR,Argentina,Latin America & Caribbean,Latin America & Caribbean (excluding high income),Upper middle income,IBRD,Buenos Aires,-58.4173,-34.61180
ARM,AM,Armenia,Europe & Central Asia,Europe & Central Asia (excluding high income),Upper middle income,IBRD,Yerevan,44.5090,40.15960